* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-size: 18px;
  color: #ffffff;
  background-color: #272343;
}
body main {
  height: 100%;
}

header .title {
  display: flex;
  justify-content: end;
  padding: 3em 0;
  z-index: 3;
}
@keyframes scale {
  100% {
    transform: scale(1);
  }
}
@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}
header .title span {
  font-weight: 700;
  font-size: 2em;
  letter-spacing: 2px;
  font-size: 2em;
  opacity: 1;
  transform: scale(0.94);
  filter: blur(4px);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}
header .title span:nth-child(1) {
  display: none;
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
header .title span:nth-child(2) {
  display: none;
  animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
header .title span:nth-child(3) {
  display: none;
  animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
header .title span:nth-child(4) {
  display: flex;
  animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
header .title span:nth-child(5) {
  display: flex;
  animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
@media screen and (min-width: 768px) {
  header .title span:nth-child(1) {
    display: flex;
  }
  header .title span:nth-child(2) {
    display: flex;
  }
  header .title span:nth-child(3) {
    display: flex;
  }
}
@media screen and (min-width: 768px) {
  header .title {
    justify-content: center;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  header .title {
    justify-content: start;
  }
}
header .hamburger-menu {
  position: absolute;
  z-index: 5;
  left: 0.5em;
  top: 0.5em;
}
header .hamburger-menu:hover {
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  header .hamburger-menu {
    display: none;
  }
}
header .hamburger-menu div {
  position: relative;
  width: 2em;
  height: 3px;
  border-radius: 3px;
  background-color: #ffffff;
  margin-top: 8px;
  transition: all 0.3s ease-in-out;
}
header #toggle {
  display: none;
}
header #toggle:checked + .hamburger-menu .top-bun {
  transform: rotate(-45deg);
  background-color: #272343;
  margin-top: 25px;
}
header #toggle:checked + .hamburger-menu .bottom-bun {
  opacity: 0;
  transform: rotate(45deg);
}
header #toggle:checked + .hamburger-menu .meat {
  transform: rotate(45deg);
  background-color: #272343;
  margin-top: -3px;
}
header #toggle:checked + .hamburger-menu + .nav {
  top: 0;
  left: 0;
  transform: scale(1);
}
@media screen and (min-width: 768px) {
  header #toggle:checked + .hamburger-menu + .nav {
    right: 50%;
  }
}
header .nav {
  position: fixed;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  top: -100%;
  left: -100%;
  transition: all 0.3s ease-in-out;
  transform: scale(0);
}
@media screen and (min-width: 768px) {
  header .nav {
    width: 50%;
  }
}
@media screen and (min-width: 1200px) {
  header .nav {
    position: static;
    background-color: #272343;
    transform: scale(1);
    z-index: 5;
    width: 100%;
  }
}
header .nav .nav__wrapper {
  overflow: hidden;
}
header .nav .nav__wrapper ul {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  margin: 5px 5px;
}
@media screen and (min-width: 1200px) {
  header .nav .nav__wrapper ul {
    flex-direction: row;
    padding-top: 20px;
    margin: 0;
    width: 40%;
  }
}
header .nav .nav__wrapper ul li {
  list-style: none;
  padding: 20px 20px;
  box-shadow: 0px 2px 2px rgba(39, 35, 67, 0.3);
}
header .nav .nav__wrapper ul li:hover {
  background-color: #272343;
}
@media screen and (min-width: 1200px) {
  header .nav .nav__wrapper ul li:hover {
    background-color: #ffffff;
  }
}
header .nav .nav__wrapper ul li:hover a {
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  header .nav .nav__wrapper ul li:hover a {
    color: #272343;
  }
}
@media screen and (min-width: 1200px) {
  header .nav .nav__wrapper ul li {
    width: 33%;
    text-align: center;
    padding: 10px;
    border-left: 1px outset #ffffff;
    border-top: 1px outset #ffffff;
    border-right: 1px outset #ffffff;
  }
}
header .nav .nav__wrapper ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #272343;
  font-size: 1.25em;
  font-weight: 700;
}
@media screen and (min-width: 1200px) {
  header .nav .nav__wrapper ul li a {
    text-transform: capitalize;
    font-size: 0.75em;
    letter-spacing: 2px;
    color: #ffffff;
  }
}

main {
  background-color: #e3f6f5;
}

footer {
  display: flex;
  background-color: #bae8e8;
  flex-direction: column;
  justify-content: space-between;
  font-size: 0.75em;
}
@media screen and (min-width: 1200px) {
  footer {
    flex-direction: row;
  }
}
footer .contacts {
  display: flex;
  gap: 5px;
  height: 50px;
  margin-left: 5px;
  margin-top: 5px;
  margin-right: 5px;
  color: #272343;
  font-weight: 600;
}
@media screen and (min-width: 1200px) {
  footer .contacts {
    width: 25%;
  }
}
footer .contacts__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 2px rgba(39, 35, 67, 0.3);
  width: 50px;
  height: 100%;
  font-size: 1.25em;
}
footer .contacts__info {
  display: flex;
  padding-left: 10px;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  flex: 1 1;
  box-shadow: 0px 2px 2px rgba(39, 35, 67, 0.3);
  text-overflow: clip;
}
@media screen and (min-width: 1200px) {
  footer .contacts__info {
    justify-content: center;
  }
}
footer .social {
  margin-top: 5px;
  font-size: 2em;
  display: flex;
  box-shadow: 0px 2px 2px rgba(39, 35, 67, 0.3);
  margin: 5px;
  justify-content: space-evenly;
}
@media screen and (min-width: 1200px) {
  footer .social {
    width: 25%;
  }
}
footer .social__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  font-size: 1em;
}
footer .social__icon a {
  display: flex;
  align-items: center;
  color: #272343;
}
footer .social__icon a:hover {
  color: #ffffff;
}

/*# sourceMappingURL=main.css.map */
