@use "library" as l;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body{
    height: 100vh;
    font-size: 18px;
    color: l.$first-color;
    background-color: l.$fourth-color;
}