@use "reset";
@use "library" as l;
@use "mixins" as m;

    header{
      background-color: l.$first-color;
      .header__title{
        @keyframes scale {
          100% {
            transform: scale(1);
          }
        }
        @keyframes fade-in {
          100% {
            opacity: 1;
            filter: blur(0);
          }
        }
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3em 0;
        & span{
          font-family: sans-serif;
          color: l.$fourth-color;
          font-weight: 700;
          font-size: 2em;
          letter-spacing: 2px;

          &:nth-child(1){
            display: none;
          }
        
          &:nth-child(2){
            display: none;
          }
          &:nth-child(3){
            display: none;
          }
        }
        @include m.desktop{
          span{ 
            font-size: 2em;
            opacity: 1;
            transform: scale(0.94);
            filter: blur(4px);
            animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
    
            &:nth-child(1) {
              display: flex;
              animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
            }
            
            &:nth-child(2) {
              display: flex;
              animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
            }
            
            &:nth-child(3) {
              display: flex;
              animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
            }
            
            &:nth-child(4) {
              animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
            }
            
            &:nth-child(5) {
              animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
            }
          
          }
        }
      }
      .hamburger-menu {
        position: absolute;
        z-index: 5;
        left: 0.5em;
        top: 0.5em;
        &:hover{
          cursor: pointer;
        }
        @include m.desktop{
            display: none;
        }
        div {
          position: relative;
          width: 2em;
          height: 5px;
          border-radius: 3px;
          background-color: l.$third-color;
          margin-top: 6px;
          transition: all 0.3s ease-in-out;

        }
      }
      .nav {
        position: fixed;
        background-color: white;
        height: 100%;
        top: -100%; left: -100%; right: 0; bottom: 0;
        transition: all 0.3s ease-in-out;
        transform: scale(0);
        @include m.desktop{
          position: static;
          background-color: none;
          transform: scale(1);
          z-index: 5;
        }

        .nav__wrapper {
          overflow: hidden;
          ul{
            padding: 100px 20px;
            @include m.desktop{
              display: flex;
              padding: 0;
            }
            li{
              list-style: none;
              padding: 20px;
              @include m.desktop{
                margin-top: 5px;
                text-align: center;
              }
    
              a {
                text-decoration: none;
                font-size: 1.25em;
                font-weight: 700;
                &:hover{
                  color: l.$fourth-color;
                }
                @include m.desktop{
                  font-size: 0.75em;
                  letter-spacing: 2px;
                }
              }
            }
            @include m.desktop{
              .active{
                background-color: l.$second-color;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                box-shadow: 2px -2px 2px rgba(0, 0, 0, 0.3);
              }
            }
          }

        }

      }
      #toggle {
        display: none;

        &:checked + .hamburger-menu .top-bun {
          transform: rotate(-45deg);
          margin-top: 25px;
        }
        &:checked + .hamburger-menu .bottom-bun {
          opacity: 0;
          transform: rotate(45deg);
        }
        &:checked + .hamburger-menu .meat {
          transform: rotate(45deg);
          margin-top: -5px;
        }
        
        &:checked + .hamburger-menu + .nav{
          left: 0;
          top: 0;
          transform: scale(1);
        }
      }

    }
    main{
      background-color: l.$second-color;
    }

    footer{
      background-color: l.$third-color;
      display: flex;
      flex-direction: column;
      align-items: center;
      .foot__info{
        display: flex;
      }
      .social{
        font-size: 2em;
        display: flex;
        gap: 20px;
      }
    }


 
