body {
    background: #336193;
    color: #6ecddd;
    font-family: 'Bebas';
    overflow-x: hidden;
    padding: 0;
    margin: 0;
  }
 
  #toggle {
    display: none;
  }
  
  /**
    Hamburger
  **/
  .hamburger {
    position: absolute;
    z-index: 5;
  }
  
  .hamburger div {
    position: relative;
    width: 3em;
    height: 7px;
    border-radius: 3px;
    background-color: #f8982b;
    margin-top: 8px;
    transition: all 0.3s ease-in-out;
  }
  
  /**
  Nav Styles
  **/
  .nav {
    position: fixed;
    width: 40%;
    height: 40%;
    top: -100%; left: -100%; right: 0; bottom: 0;
    background-color: white;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    transform: scale(0);
  }
  .nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    height: 100%;
  }

  nav a {
    position: relative;
    display: inline-block;
    transition: color 0.2s ease-in-out;
  }
  nav a:before {
    content: '';
    height: 0;
    position: absolute;
    background-color: white;
    transition: all 0.2s ease-in-out;
  }
  
  /**
  Animations
  **/
  #toggle:checked + .hamburger .top-bun {
    transform: rotate(-45deg);
    margin-top: 25px;
  }
  #toggle:checked + .hamburger .bottom-bun {
    opacity: 0;
    transform: rotate(45deg);
  }
  #toggle:checked + .hamburger .meat {
    transform: rotate(45deg);
    margin-top: -7px;
  }
  
  #toggle:checked + .hamburger + .nav {
    left: 0;
    top: 0;
    transform: scale(1);
  }
