@use "./../abstracts/variables" as v;
@use "./../abstracts/mixins" as m;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
    color: black;
  }
body {
  background-color: white;
  @include m.tablet {
    header, main{
      padding-left: 200px;
    }

  }
}
