@use "./../abstracts/variables" as v;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body{
    height: 100vh;
    font-size: 18px;
    background-color: v.$fourth-color;
    main{
      background-color: v.$first-color;
    }
}