.work{
    display: flex;
    flex-direction: column;
    gap: 20px;
    &__position{
        display: flex;
        gap: 10px;
        margin: 10px;
        padding: 10px;
        flex-direction: column;
        box-shadow: 0 0 20px rgba($color: white, $alpha: 0.3);
        &__date{
            display: flex;

            & span{
                text-transform: uppercase;
                font-weight: 700;
            }
        }
        &__title{
            font-size: 0.9em;
            label {
                display: flex;
                flex-direction: column;
                & span{
                    font-size: 0.9em;
                    color: blue;
                }
                & div{
                    position: relative;
                    left: 50%;
                    transform: translateX(-25%);
                    font-size: 0.9em;
                    display: none;
                }
            }
            #taskPosOne{
                display: none;
                &:checked +  .tasks .work__position__title__task{
                    display: block;
                }
                &:checked +  .tasks span{
                    color: red;
                }
            }
            #taskPosTwo{
                display: none;
                &:checked +  .tasks .work__position__title__task{
                    display: block;
                }
                &:checked +  .tasks span{
                    color: red;
                }
            }
            #taskPosThree{
                display: none;
                &:checked +  .tasks .work__position__title__task{
                    display: block;
                }
                &:checked +  .tasks span{
                    color: red;
                }
            }
            

        }

    }
}