<section id="work" class="work">
    <h1>Arbete</h1>

    <div id="workPos" class="work__position">
      <div class="work__position__date">
        <span id="workPos">August 2018-f.f.</span>
      </div>
      <div class="work__position__title">
        Materialplanerare på PERI Sverige AB
        <input type="checkbox" id="taskPosThree">
        <label for="taskPosThree" class="tasks">
          <span>Se ansvar</span>
          <div class="work__position__title__task">
            <ul>
              <li>Material inköp</li>
              <li>Sök efter nya leverantörer</li>
              <li>Leverantörbedömning</li>
            </ul>
          </div>
        </label>
      </div>
    </div>


    <div class="work__position">
      <div class="work__position__date">
        <span>August 2013-2018</span>
      </div>
      <div class="work__position__title">
        Transportplanerare på PERI Sverige AB
        <input type="checkbox" id="taskPosTwo">
        <label for="taskPosTwo" class="tasks">
          <span>Se ansvar</span>
          <div class="work__position__title__task">
            <ul>
              <li>Transportorganisation</li>
              <li>Orderplanerare</li>
              <li>Kunddebitering</li>
              <li>Dokumenthantering</li>
              <li>Logistiska problemlösningar</li>
              <li>Lastplaneringar</li>
              <li>Arbetsprocesskoordinering</li>
              <li>Brandskyddkontrollant</li>
              <li>Ansvarig under inventering</li>
            </ul>
          </div>
        </label>
      </div>
    </div>

    <div class="work__position">
      <div class="work__position__date">
        <span>August 2008-2013</span>
      </div>
      <div class="work__position__title">
        Lagerarbetare på PERI Sverige AB
        <input type="checkbox" id="taskPosOne">
        <label for="taskPosOne" class="tasks">
          <span>Se ansvar</span>
          <div class="work__position__title__task">
            <ul>
              <li>Material hantering</li>
              <li>Lagerhantering</li>
            </ul>
          </div>
        </label>
      </div>
    </div>


  </section>