@use "./../abstracts/mixins" as m;
@use "./../abstracts/variables" as v;

.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
    @include m.desktop{
        height: 100vh;
    }
    &__header{
        @include m.headerTitle;
    }
}