
@use "./../abstracts/mixins" as m;
@use "./../abstracts/variables" as v;

.header{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1{
        color: black;
        text-align: center;
        span {
            opacity: 0;
        }
        .fade{
            opacity: 1;
        }
    }
    
    nav {
        .hamburgerLogo {
            position: fixed;
            display: flex;
            flex-direction: column;
            gap: 15px;
            padding: 12px 10px;
            z-index: 5;
            right: 2em;
            top: 2em;
            @include m.tablet{
              display: none;
            }
            &:hover{
              cursor: pointer;
            }
            .hamburgerLogo__topBun, .hamburgerLogo__bottomBun {
              position: relative;
              width: 2.5em;
              height: 1px;
              background-color: black;
              transition: all 0.2s ease-in-out;
            }
          }
          #toggle {
            display: none;
            &:checked + .hamburgerLogo .hamburgerLogo__topBun {
              transform: rotate(-45deg);
              top: 8px;
            }
            &:checked + .hamburgerLogo .hamburgerLogo__bottomBun {
              transform: rotate(45deg);
              top: -8px;
            }
            &:checked  +.hamburgerLogo +  .menu{
              opacity: 1;
              top: 0;
            }
          }
          .menu {
            opacity: 0;
            transition: all 0.2s ease-in-out;
            position: fixed;
            top: -500px;
            left: 0;
            width: 100%;
            padding: 50px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: lightgreen;
            @include m.tablet{
              opacity: 1;
              top: 0;
              left: 0;
              width: 200px;
              min-width: 200px;
              bottom: 0;
              flex-direction: column;
            }
              ul {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                z-index: 5;
                @include m.tablet{
                  height: 100%;
                }
                li{
                  list-style: none;
                  
                   a {
                    text-decoration: none;
                    color: orange;
                    text-transform: lowercase;
                    letter-spacing: 3px;
                    font-size: 2em;
                    span:hover{
                      color: yellowgreen;
                      transition-duration: 300ms;
                    }
                    i {
                      display: none;
                    }
                    @include m.tablet{
                      span {
                        display: none;
                      }
                      i {
                        display: block;
                        font-size: 3em;
                      }
                    }
                  }
                }
              }
        }
    }
}