@use "./../abstracts/mixins" as m;
@use "./../abstracts/variables" as v;

.hamburgerLogo {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 12px 10px;
    z-index: 5;
    right: 2em;
    top: 2em;
    &:hover{
      cursor: pointer;
    }
    .hamburgerLogo__topBun, .hamburgerLogo__bottomBun {
      position: relative;
      width: 2.5em;
      height: 1px;
      background-color: white;
      transition: all 0.2s ease-in-out;
    }


  }
  #toggle {
    display: none;
    &:checked + .hamburgerLogo .hamburgerLogo__topBun {
      transform: rotate(-45deg);
      top: 8px;
      background-color: black;
    }

    &:checked + .hamburgerLogo .hamburgerLogo__bottomBun {
      transform: rotate(45deg);
      top: -8px;
      background-color: black;
    }


    &:checked  +.hamburgerLogo +  .menu{
      opacity: 1;
    }
    &:checked  +.hamburgerLogo +  .menu ul li.delay1{
      opacity: 1;
    }
    &:checked  +.hamburgerLogo +  .menu ul li.delay2{
      opacity: 1;
    }
    &:checked  +.hamburgerLogo + .menu ul li.delay3{
      opacity: 1;
    }
  }
  .menu {
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    right: 10px;
    padding: 50px;
    background-color: white;
    transition: all 0.2s ease-in-out;

      & ul{
        display: flex;
        flex-direction: column;

        & li{
          list-style: none;
          
          
          & a {
            text-decoration: none;
            color: black;
            font-size: 2.5em;
            text-transform: uppercase;
            letter-spacing: 3px;
            &:hover{
              transition-duration: 500ms;
            }
            
          }
        }
        & .delay1{
          opacity: 0;
          transition-delay: 0.1s;
          transition-duration: 0.5s;
        }
        & .delay2{
          opacity: 0;
          transition-delay: 0.2s;
          transition-duration: 0.5s;

        }
        & .delay3{
          opacity: 0;
          transition-delay: 0.3s;
          transition-duration: 0.5s;
        }
      }
  }