@use "./../abstracts/mixins" as m;
@use "./../abstracts/variables" as v;

.hamburgerLogo {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 12px 10px;
    z-index: 5;
    right: 2em;
    top: 2em;
    &:hover{
      cursor: pointer;
    }
    .hamburgerLogo__topBun, .hamburgerLogo__bottomBun {
      position: relative;
      width: 2.5em;
      height: 1px;
      background-color: white;
      transition: all 0.2s ease-in-out;
    }


  }
  #toggle {
    display: none;
    &:checked + .hamburgerLogo .hamburgerLogo__topBun {
      transform: rotate(-45deg);
      top: 8px;
    }

    &:checked + .hamburgerLogo .hamburgerLogo__bottomBun {
      transform: rotate(45deg);
      top: -8px;
    }


    &:checked  +.hamburgerLogo +  .menu{
      opacity: 1;
    }
    &:checked  +.hamburgerLogo +  .menu ul li.delay1{
      opacity: 1;
    }
    &:checked  +.hamburgerLogo +  .menu ul li.delay2{
      opacity: 1;
    }
    &:checked  +.hamburgerLogo + .menu ul li.delay3{
      opacity: 1;
    }
  }
  .menu {
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    padding: 50px;
    transition: all 0.2s ease-in-out;
      &__wrapper{
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        backdrop-filter: blur(10px);
        z-index: -1;
        box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.5);
      }
      & ul{
        display: flex;
        flex-direction: column;

        & li{
          list-style: none;
          
          
          & a {
            text-decoration: none;
            color: white;
            font-size: 2.5em;
            text-transform: lowercase;
            letter-spacing: 3px;
            &:hover{
              color: yellowgreen;
              letter-spacing: 5px;
              transition-duration: 300ms;
              
            }
            
          }
        }
        & .delay1{
          opacity: 0;
          transition-delay: 0.1s;
          transition-duration: 0.5s;
        }
        & .delay2{
          opacity: 0;
          transition-delay: 0.2s;
          transition-duration: 0.5s;

        }
        & .delay3{
          opacity: 0;
          transition-delay: 0.3s;
          transition-duration: 0.5s;
        }
      }
  }