@use "./../abstracts/mixins" as m;
@use "./../abstracts/variables" as v;


.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    &__header{
        h2 {
            @include m.headerTitle;
        }
    } 
    &__box{
        display: flex;
        flex-direction: column;
        align-items: center;
        &__container{
            display: flex;
            flex-direction: column;
            box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.3);
            padding: 20px;
            gap: 5px;
            margin: 5px 0;
            &__name{
                text-align: center;
            }
            &__technique{
                display: flex;
                justify-content: space-around;
            }
            &__author{
                text-align: end;
            }
            &__date{
                text-align: end;
            }
        }
    }
}