@use "./../abstracts/mixins" as m;
@use "./../abstracts/variables" as v;


.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    @include m.desktop{
        height: 100vh;
    }
    &__header{
        @include m.headerTitle;
    }
    &__container {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        background-color: dodgerblue;
        @include m.tablet{
           grid-template-columns: 1fr 1fr;
           padding: 20px;
        }
        @include m.desktop{
           grid-template-columns: 1fr 1fr 1fr;
           padding: 50px;
        }
        div {
            
            padding: 20px;
            @include m.tablet{
                margin: 10px;
                box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.5);
             }
            @include m.desktop{
                margin: 30px;
                padding: 50px;
             }
            h2 {
                text-transform: lowercase;
            }
            a {
                text-decoration: none;
            }
            p {
                padding: 10px 0;
                text-align: end;
                i {
                    font-size: 24px;
                }
            }
        }
    }
}