html{
    background-image: url(./../images/background.webp);
    font-family: 'Courier New', Courier, monospace;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}
.profile{
    text-align: center;
}



.picture img{
    width: 80%;
    filter:grayscale() brightness(1.5);
    border-radius: 50%;

}

.title h2{
    margin: 0;
    text-transform: uppercase;
}
.sub-title{
    margin: 0;
    text-transform: capitalize;
    font-size: 0.8em;
}s
nav{
    width: 100vw;
}
nav ul{
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    padding-inline-start: 0;
}
nav ul li{
    list-style: none;
    padding: 0 10px;
}

nav ul li a{
    text-decoration: none;
    color: rgb(135, 135, 135);
    font-weight: 700;
    font-size: 1em;
    transition: text-shadow 0.3s;
    line-break: loose;
    background-color: lightgray;
}

footer{
    border-top: 2px solid gray;
    padding-top: 2%;
    font-size: 0.8em;
}
footer > article{
    line-height: 20px;
    text-align: center;
}
.foot-icon{

}
.foot-title{

}

