
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 25px;
    color: white;
    font-family: Roboto, sans-serif;
    background-image: url(./../images/background.webp);
    background-size: cover;
}

/* Vänstersida*/


.photo{
    background-image: url(./../images/photo.jpg);
    background-size: cover;
    filter: grayscale(1);
    height: 413px;
    border-radius: 50%;
}

.left-side-title{
    text-transform: uppercase;
    text-align: center;
    border-bottom: 1px solid rgb(255, 255, 255);
    letter-spacing: 2px;
    font-size: x-large;
    line-height: normal;
}

.left-side-title h3 span{
    letter-spacing: 2px;
}

.left-side-info{
    display: relative;
    text-align: center;

}
.left-side-info > div{
    display: flex;
    width: 100%;
    justify-content: center;
}
.left-side-info div ul li{
    list-style: none;
}
.left-side-info ul > span{
    font-size: 30px;
    font-weight: 700;
}
.skill-title{
    display: flex;
    align-items: center;
    width: 100%;
}
.skill-title div{
    position: relative;
    right: 0;
    width: 50%;
    height: 4px;
    background-color: rgb(255, 255, 255);
}
.skill-title div div{
    position: absolute;
    height: 4px;
    background-color: rgb(49, 100, 176);
    left: 0;
    animation: skills 1s linear alternate infinite;

}
@keyframes icon-color {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0.5;
    }
}

/* Högersida*/

.right-side article{
    position: relative;
}
.right-side article ul li{
    display: flex;
}
.right-side article span{
    font-size: 30px;
    border-bottom: 2px solid black;
    letter-spacing: 3px;
    margin-left: 20px;
}
.hobby-icons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 15px;
    animation: icon-color 2s linear alternate infinite;


}
.hobby-icons i{
    font-size: 50px;
    padding-top: 5px;

}
.hobby-icons > div{
    position: relative;
    border: 2px dashed black;
    padding: 10px;
    margin: 20px auto;
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.6);
    transition: transform 0.2s;
}

.hobby-icons > div:hover{
    transform: scale(1.1);
}

.hobby-icons > div > div{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -30px;   
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
    font-size: 14px;
    letter-spacing: 1px;
}
.hobby-icons div:hover .icon-title{
    opacity: 1;
}