@use "./../abstracts/mixins" as m;
@use "./../abstracts/variables" as v;

.hamburgerLogo {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 15px;

    padding: 12px 10px;
    z-index: 5;
    right: 2em;
    top: 2em;
    &:hover{
      cursor: pointer;
    }
    @include m.desktop{
        display: none;
    }
    .hamburgerLogo__topBun, .hamburgerLogo__bottomBun {
      position: relative;
      width: 2.5em;
      height: 1px;
      background-color: v.$first-color;
      transition: all 0.2s ease-in-out;
    }


  }
  #toggle {
    display: none;
    &:checked + .hamburgerLogo .hamburgerLogo__topBun {
      transform: rotate(-45deg);
      top: 8px;
    }

    &:checked + .hamburgerLogo .hamburgerLogo__bottomBun {
      transform: rotate(45deg);
      top: -8px;
    }

    &:checked  +.hamburgerLogo +  .menu{
        top: 30%;
        right: 50%;
        transform: translateX(50%);
        transform: scale(1);
        opacity: 1;
    }
  }
  .menu {
    position: absolute;
    background-color: blue;
    top: -90px;
    right: -90px;
    transform: scale(0.1);
    opacity: 0;

    z-index: 4;
    transition: all 0.2s ease-in-out;
    transition-delay: all 0.2s;
    transform: scale(0);

    @include m.desktop{
      top: 0;
      left: 0;
      right: 0;
      transform: scale(1);
      opacity: 1;
    }

      & ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 100px;

        @include m.tablet{
          flex-direction: row;
          justify-content: center;
          padding: 40px 0;
        }
        @include m.desktop{
          padding: 0;
          justify-content: flex-start;
          margin: 0;
        }
        & li{
          list-style: none;
          @include m.desktop{
            text-align: center;
            padding: 10px;
          }

          & a {
            text-decoration: none;
            color: v.$first-color;
            letter-spacing: 1.5px;
            font-size: 1.5em;
            text-transform: lowercase;
            letter-spacing: 3px;
            @include m.desktop{
              font-size: 0.75em;
            }
            &:hover{
              text-decoration: underline;
            }
          }
        }
      }
  }